<div id='topTrips' class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#topTrips" data-slide-to="0" class="active"></li>
    <li data-target="#topTrips" data-slide-to="1"></li>
    <li data-target="#topTrips" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% @top_sellers.each_with_index do |trip, index| %>
      <% if index.zero? %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
        <%= image_tag trip.trip_image.url, id: 'carousel-pic' %>
        <div class='carousel-caption'>
          <h3><%= link_to trip.title, trip_path(trip) %></h3>
          <p>Price: $<%= trip.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
