<h1>No Refunds Travel Admin Dashboard</h1>
<div class="dashboard">
  <h4>Profile Information</h4>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Username: <%= @user.username %></li>
    <li>Profile Last Updated: <%= @user.updated_at %></li>
  </ul>
</div>
