<center><h1>All Orders</h1></center>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10'>
    <ul>
      <% @orders.each do |order| %>
        <li><%= link_to order.id, order_path(order) %><br>
          Status: <%= order.status %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-1'></div>
</div>
<br><br>
<p>
  **Disclaimer - While No Refunds Travel is our name, it's also our business philosophy.<br>
  All purchases are final regardless of experience, expectations or any other shortcomings you may claim<br>
  Thank you for using No Refunds Travel as your vacation planner.
</p>
