<%= render partial: 'shared/trip_show' %>
<div class='row'>
  <div class='col-md-1'>
  </div>
  <div class='col-md-8 padding-top'>
    <%= render partial: 'admin_dropdown', locals: { trip: @trip } %>
  </div>
</div>
