@import "bootstrap-sprockets";
@import "bootstrap";

.trip-show-image{
  max-height: 150px;
}

#trip-index-pic{
  height: 350px;
  width: 900px;
}

#carousel-pic{
  height: 350px;
  width: 900px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
